#w-footer{
    margin-top: 100px;
    #footerLogo{
        text-align: center;
        svg{
            margin-top: -105px;
            height: 190px;
            width: 178px;
            margin-left: -50px;
        }
        p{
            margin: 0;
            &.title{
                font-family: $ff-title;
                text-transform: uppercase;
                color: $c-white;
                font-size: $fs-xlarge;
                margin-top: 1rem;
            }
            &.desc{
                font-size: $fs-small;
                text-transform: lowercase;

            }
        }
    }

    h4.uk-text-secondary{
        color: $c-secondary !important;
        display: flex;
        align-items: center;
        position: relative;
        svg{
            width: 56px;
            height: 45px;
            fill: rgba($c-white,14%) !important;
            position: absolute;
            left: -1.5rem;
            top: -1rem;
        }
    }

    .w-order-time{
        .uk-width-auto{
            display: flex;
            align-items: center;
            span{
                display: block;
                padding: 5px 12px;
                background: rgba($c-white,20%);
                margin: 0 5px;
            }
        }
    }

    .w-contacts{
        .uk-width-auto{
            span{
                color: $c-secondary !important
            }
        }
    }

}