html{
    scroll-behavior: smooth;
}

.uk-text-bolder { font-weight: $fw-semibold; }
.uk-button {
    font-weight: $fw-semibold;
    letter-spacing: 1px;
    border-radius: 30px;
}

.uk-border-bold{
    box-shadow: 0 0 0 10px $c-light;
    margin-top: -40px;
    background: $c-white;
    position: relative;
    z-index: 1;
    &::before{
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $c-light;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.uk-section-title{
    h4,.uk-h4{ margin: 0; margin-bottom: 1rem;}
    h1,.uk-h1,
    h2,.uk-h2{ margin: 0; }
    text-align: center;
}

h4,.uk-h4{
    text-transform: uppercase;
    font-family: $ff-base;
    font-weight: $fw-semibold;
    color: $c-primary;
    letter-spacing: 2px;
}

h5,.uk-h5{
    font-family: $ff-base;
    font-weight: $fw-semibold;
    color: $c-primary;
}

.w-quote-block{
    .uk-container{
        position: relative;

        /* image */
        .uk-width-auto{
            position: relative;
            z-index: 1;
            .first,
            .second{
                background: $c-white;
                padding: 1rem;
                @extend .uk-box-shadow-medium;
            }
            .first{
                transform: rotate(-10deg);
                position: relative;
                z-index: 1;
            }
            .second{
                transform: rotate(10deg);
                position: absolute;
                top: 0;
                right: 0;
                z-index: 0;
            }
        }
        /* end */

        .text{
            font-size: $fs-large;
            font-style: italic;
        }

        svg.quotion{
            position: absolute;
            top: 0;
            left: -10px;
            height: 100%;
            z-index: 0;
        }
    }
}

.w-tease-post{
    a{
        color: $c-secondary;
    }
    h2{
        font-size: $fs-xlarge;
    }
}

#services{
    h5{
        padding: 0 .5rem;
    }
    .w-text{
        &.uk-height-90{ height: 100px; }
        position: relative;
        transition: all ease-in-out .2s;
        padding: .5rem;
        &:hover{
            height: fit-content !important;
            max-height: fit-content !important;
            @media (min-width: $breakpoint-small) {
                position: absolute;
                background: $c-light;
            }
            z-index: 2;
            &:after{
                display: none;
            }
        }
        &:after{
            content: "\f0d7";
            content: "";
            display: block;
            font-family: "Font Awesome 5 Free";
            font-weight: bold;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            height: 2rem;
            line-height: 2rem;
            background: white;
            background: linear-gradient(to top, white, transparent);
            @media (max-width: $breakpoint-small) {
                display: none;
            }
        }

    }
}