<section class="uk-section uk-background-primary">
    <div class="uk-container">

        <div class="uk-child-width-expand@s" uk-grid>

            {# rendelési idő #}
            <div>
                <h4 class="uk-text-secondary">Rendelési idő</h4>
                <ul>
                    {{ dump(options.orderTime) }}


                    {% for item in options.orderTime %}
                    <li class="uk-flex">
                        <div class="uk-expand">{{ item.day }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        {# copyright #}
        <div class="uk-text-small uk-text-center">
            <hr>
            <p class="uk-margin-remove-bottom">
                {{ options.copyright }} <br>
                Az oldalt készítette: <a href="https://weart.hu">weart.hu</a>
            </p>
        </div>

    </div>
</section>